{% extends 'main/base.html' %}
{#{% import 'bootstrap/wtf.html' as wtf %}#}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="col-md-6 offset-md-3">


    </div>
    <div class="col-md-6 offset-md-1">
        <ul class="list-group">
            {% for post in posts %}
                <li class="list-group-item"><a class="h3" href="#">{{ post.title }}</a>
                    <a class="btn btn-primary" href="{{ url_for('auth.editpost', postid=post.post_id) }}">编辑</a>
                    <a class="btn btn-primary" href="{{ url_for('auth.droppost', postid=post.post_id) }}">私有化</a>

                </li>

            {% endfor %}
        </ul>
    </div>
{% endblock %}