{% extends 'main/base.html' %}
{% block title %}Hello - {{ user.user_name }}{% endblock %}
{% block content %}
    <div class="col-md-6 offset-md-3">

        <h1>用户名： {{ user.user_name }}</h1>
        <h2>用户邮箱： {{ user.user_email }}</h2>
        <h2>用户权限ID： {{ user.role_id }}</h2>
        <h2>用户最后一次登录时间： {{ user.last_seen.strtf }}</h2>
        <h2>地址： {{ user.location }}</h2>
        <h2>关于我： {{ user.about_me }}</h2>

        {#        {% if current_user.can(Permission.FOLLOW) and user != current_user %}#}
        {#            {% if not current_user.is_following(user) %}#}
        {#                <a href="{{ url_for('.follow', username=user.username) }}"#}
        {#                   class="btn btn-primary">Follow</a>#}
        {#            {% else %}#}
        {#                <a href="{{ url_for('.unfollow', username=user.username) }}"#}
        {#                   class="btn btn-default">Unfollow</a>#}
        {#            {% endif %}#}
        {#        {% endif %}#}


        {#        <a href="{{ url_for('.followers', username=user.user_name) }}">#}
        <h2>被关注: <span class="badge badge-secondary">{{ user.followers.count() }}</span>
            {#        </a>#}
            {#        <a href="{{ url_for('.followed_by', username=user.user_name) }}">      </a>#}
            已关注: <span class="badge badge-secondary">{{ user.followed.count() }}</span></h2>

        <a href="{{ url_for("auth.edit_profile") }}" class="btn btn-outline-primary">修改资料</a>


    </div>
    <div class="col-md-3 offset-md-4">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}