<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="col-md-1 offset-md-1">
        <a class="navbar-brand" href="#"> 乌拉小站</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="col-md-9">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.index') }}">主页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">程序人生</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">心情随笔</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">友情链接</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        博客分类
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Python</a>
                        <a class="dropdown-item" href="#">Java</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">其他</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-0 my-lg-0">
                <input class="form-control mr-sm-1" type="search" placeholder="搜索" aria-label="查询" name="key_word">
                <button class="btn btn-outline-success my-0 my-sm-1" type="submit" name="submit">查询</button>
            </form>


            <ul class="navbar-nav">

                {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown" role="button">
                            Hello <b>{{ current_user.user_name }}</b>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">注销登录</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.chpasswd') }}">修改密码</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ url_for('auth.user', username=current_user.user_name) }}">个人中心</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.list_post') }}">我的博客</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.add_post') }}">发布我的博客</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">登录</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">注册</a></li>
                {% endif %}

            </ul>


        </div>
    </div>


</nav>