{% extends 'main/base.html' %}
{% block html_attribs %} lang="zh"{% endblock %}
{% block title %}{{ post[0].user_name }}的博客空间{% endblock %}

<div class="container">
    {% block content %}

        <div class="col-md-10 offset-md-1 row">


            <div class="col-md-2">

                {% include 'main/_user_info.html' %}
            </div>

            <div class="col-md-8">
                <h1>{{ post.title }}</h1>

                <p>{{ post.crtd_time.strftime("%Y-%m-%d %H:%M:%S") }}</p>

                <p>
                <hr style="height:1px;border-top:1px solid #E0E0E0;"/>
                </p>
                <p> {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.content }}
                {% endif %} </p>
            </div>
        </div>


    {% endblock %}
</div>

