{% extends 'main/base.html' %}
{% block html_attribs %} lang="zh"{% endblock %}
{% block title %}{{ post.title }} - 乌拉小站{% endblock %}

<div class="container">
    {% block content %}

        <div class="col-md-10 offset-md-1 row">


            <div class="col-md-2">

                {% include 'main/_user_info.html' %}
            </div>

            <div class="col-md-8">
                <h1>{{ post.title }}</h1>

                <p>{{ post.crtd_time.strftime("%Y-%m-%d %H:%M:%S") }}</p>

                <p>
                <hr style="height:1px;border-top:1px solid #E0E0E0;"/>
                </p>
                <p> {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.content }}
                {% endif %} </p>
                <hr>


                <div class="col-md-12">
                    {# 评论区表单： 判断当前用户是否登录，是否为本人博客，本人博客默认不展示提交博客 #}
                    {% if current_user.is_authenticated %}
                        <form method="POST" class="form-horizontal needs-validation" validate role="form">
                            {{ form.hidden_tag() }}
                            <div class="col-md-12">
                                <textarea class="form-control" name="comment_content" rows="2"
                                          placeholder="想对作者说些什么？"></textarea>
                            </div>
                            <div class="col-md-2 offset-md-10">{{ form.submit(class='btn btn-primary') }}</div>
                        </form>
                    {% endif %}
                    {# 评论区展示#}
                    {% for comment in comments %}
                        <p class="small"><img src="/static/img/person-icon.jpg" class="rounded-circle"
                                              style="height: 25px;">
                            <b>{{ comment.user_name }} :</b>
                            {{ comment.comment_content }} </p>
                        <hr style="border:0.5px dashed #000"/>
                    {% endfor %}
                </div>
            </div>

        </div>


    {% endblock %}
</div>

