{% extends 'main/base.html' %}
{% block html_attribs %} lang="zh"{% endblock %}
{% block title %}{{ posts[0].user_name }}的博客空间{% endblock %}
{% import "main/_macros.html" as macros %}
{% block content %}

    <div class="col-md-10 col-md-offset-1">


        <div class="col-md-2">
            {#     个人信息       #}
            <img src="https://avatar.csdn.net/0/3/C/3_cainiao_python.jpg" class="img-circle" style="height: 60px;">
            <span class="h4" style="vertical-align:middle ;padding-left: 15px">{{ posts[0].user_name }}</span>
            <hr>
            <span>来自：{{ posts[0].location }}</span>
            <hr>
            <p>关于我：{{ posts[0].about_me }}</p>

        </div>

        <div class="col-md-10">
            {% include 'main/_post.html' %}
           <div class="pagination">
            {{ macros.pagination_widget(pagination, '.uplist', userid=1) }}
        </div>
        </div>

    </div>
{% endblock %}


