/*li > .dropdown-menu > .active > a,*/
/*.dropdown-menu > .active > a:hover,*/
.dropdown-menu > .active > a:focus {
  color: #000;
  text-decoration: #E7E7E7;
  /*background-color: #E7E7E7;*/
  outline: 0;
}

body > .navbar-default > .container-fluid {font-size: 18px;}

ul, li, ol, dl, dd, dt, form {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar {
  min-height: 50px;

}
.nav > li > a {
  padding: 15px 10px;
    font-size: 20px;
}
.navbar-brand {
 padding: 15px 10px;
    font-size: 30px;
}