li > .dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #000;
  text-decoration: none;
  background-color: #E7E7E7;
  outline: 0;
}

body > .navbar-default > .container-fluid {font-size: 18px;}

