{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="zh"{% endblock %}
{% block title %}This is an example page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}" >
{% endblock %}
{% block navbar %}
    {{ nav.top.render() }}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='jquery.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock scripts %}

{##}
{#{% block scripts %}#}
{#    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>#}
{#    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>#}
{#{% endblock scripts %}#}